<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Antecedentes personales</h3>
  </div>
  <div class="panel-body">
    <div class="row" align="center">
      <form>
        <div>
          <div *ngFor="let afeccion of todosTiposAfeccionesPersonales">
            <div class="row text-left" style="padding-left: 20px">
              <div class="checkbox">
                <label>
              <input type="checkbox" value="{{afeccion.nombre}}">
              {{afeccion.descripcion}}
            </label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Modificar antecedentes personales</button>
      </form>
    </div>
  </div>
</div>

<!-- Agregado compartamiento de collapse -->


<h3>Antecedentes Personales</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Expandir antecedentes personales
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row" align="center">
          <form>
            <div>
              <div *ngFor="let afeccion of todosTiposAfeccionesPersonales">
                <div class="row text-left" style="padding-left: 20px">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="{{afeccion.nombre}}">
                      {{afeccion.descripcion}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Modificar antecedentes personales</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
