<div *ngIf="getCantidadHabitos() == 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Habitos
      </h3>
    </div>
    <div class="panel-body">
      <div align="center" class="alert alert-warning">
        <strong>No hay habitos cargados</strong>
        <a>¿Agregar nuevo habito?</a>

      </div>
      <div class="row" align="center">
        <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('habitoModal').open()">Agregar nueva habito</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="getCantidadHabitos() > 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Registro de habitos que posee el paciente
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <div align="center" *ngIf="getCantidadHabitos() > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Observaci&oacute;n</th>
                <th>Cantidad</th>
                <th>Unidad de medida </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habito of habitos">
                <td>{{habito.tipo_habito_dato.nombre_corto}}</td>
                <td>{{habito.tipo_habito_dato.descripcion}}</td>
                <td>{{habito.observacion}}</td>
                <td>{{habito.cantidad}}</td>
                <td>{{habito.unidad}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('habitoModal').open()">Agregar nuevo habito</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #habitoModal [identifier]="'habitoModal'" (onOpen)="log('Modal opened!')" (onClose)="log('Modal closed!')"
  (onDismiss)="log('Modal dismissed!')">

  <h5>Habitos que posee el paciente</h5>
  <form #FormHabito="ngForm">
    <div class="form-group">
      <label>Seleccione un habito</label>

      <input class="campoLargo" max-num-list=5 name="seleccionado" auto-complete [(ngModel)]="objetoSeleccionado" [source]="tipoHabitosDisponibles"
        placeholder="Seleccione uno de los habitos" [list-formatter]="autocompleListFormatter" no-match-found-text="La busqueda no arroja resultados. Pruebe otra entrada" loading-text="Cargando..." value-property-name="codigo"
        display-property-name="nombre_corto" required/>

    </div>

    <div class="form-group">
      <label>Descripción del habito:</label>
      <br>
      <textarea rows="5" cols="50" name="observacion" [(ngModel)]="observacion"></textarea>
    </div>
    <!--Debería crearse una relacion con las unidades permitidas para cada tipo-->
    <div class="form-group">
      <strong><label>Unidad:</label></strong>
        <select name="unidadSeleccionada" [(ngModel)]="unidadSeleccionada" required>
        <option   value="CigarrillosDia">Cigarrillos por d&iacute;a</option>
        <option  value="litrosDia">Litros por d&iacute;a</option>
        <option  value="horasSemana">Horas por semana</option>
        </select>
      <label>Cantidad </label>
      <input type="number" min="0" name="cantidad" [(ngModel)]="cantidad" required>
    </div>

    
    
    
    <button class="btn btn-info" [disabled]="!FormHabito.form.valid" (click)="guardar()">Guardar</button>
    <button class="btn btn-danger" (click)="habitoModal.close()">Cerrar</button>

  </form>
</ngx-smart-modal>