<div *ngIf="getCantidadHabitos() == 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Habitos
      </h3>
    </div>
    <div class="panel-body">
      <div align="center" class="alert alert-warning">
        <strong>No hay habitos cargados</strong>
        <a>¿Agregar nuevo habito?</a>

      </div>
      <div class="row" align="center">
        <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('habitoModal').open()">Agregar nueva habito</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="getCantidadHabitos() > 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Registro de habitos que posee el paciente
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <div align="center" *ngIf="getCantidadHabitos() > 0">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>unidad de medida</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habito of habitos">
                <td>{{habito.tipo_habito_dato.nombre_corto}}</td>
                <td>{{habito.tipo_habito_dato.descripcion}}</td>
                <td>{{habito.observacion}}</td>
                <td>{{habito.cantidad}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('habitoModal').open()">Agregar nuevo habito</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #habitoModal [identifier]="'habitoModal'" (onOpen)="log('Modal opened!')" (onClose)="log('Modal closed!')"
  (onDismiss)="log('Modal dismissed!')">

  <h5>Habitos que posee el paciente</h5>
  <form #FormHabito="ngForm">
    <div class="form-group">
      <label>Seleccione un habito</label>
      <select name="seleccionado" [(ngModel)]="codigoHabitoSeleccionado" required>
    <option value="" selected>Seleccione un habito</option>
  <option value={{h.codigo}} *ngFor="let h of tipoHabitosDisponibles">{{h.nombre_corto}}
  </option>
  </select>
    </div>

    <div class="form-group">
      <label>Descripción del habito:</label>
      <br>
      <textarea rows="5" cols="50" name="observacion" [(ngModel)]="observacion" required></textarea>
    </div>
    <div class="form-group">
      <label>Cantidad </label>
      <input type="number" min="0" name="cantidad" [(ngModel)]="cantidad" required>
    </div>

    <button [disabled]="!FormHabito.form.valid" (click)="guardar()">Guardar</button>
    <button (click)="habitoModal.close()">Cerrar</button>

  </form>
</ngx-smart-modal>