<div *ngIf="getCantidadMedicamentosConsume() == 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Consumo de medicamentos</h3>
    </div>
    <div class="panel-body">
      <div align="center" class="alert alert-warning">
        <strong>No hay medicamentos que consuma actualmente</strong>

      </div>
      <div class="row" align="center">
        <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('medicamentoModal').open()">Agregar nuevo medicamento</button>
      </div>
    </div>
  </div>
</div>

<div align="center" *ngIf="getCantidadMedicamentosConsume() > 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Registro de medicamentos que consume el paciente</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Presentacion </th>
              <th> Observacion </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medicamento of medicamentosConsume">
              <td>{{medicamento.nombre}} </td>
              <td>{{medicamento.presentacion}} </td>
              <td>{{medicamento.observacion}} </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('medicamentoModal').open()">Agregar nuevo medicamento</button>
      </div>
    </div>
  </div>
</div>
<!--Fin del NGIF-->



<ngx-smart-modal #medicamentoModal [identifier]="'medicamentoModal'" (onOpen)="log('Modal opened!')" (onClose)="log('Modal closed!')"
  (onDismiss)="log('Modal dismissed!')">

  <h5>Medicamentos que consume</h5>
  <form #FormMedicamento="ngForm">

    <!--
    <hr>
    <div class="form-group">
      <label>Realice una busqueda de los medicamentos</label>
      <input #txtFname type="search" name="busqueda" placeholder="Ingrese al menos 3 caracteres" [(ngModel)]="busqueda">
     
    </div>
    <hr>
  -->
    <label>Seleccione un medicamento que consume:</label>
    <br>
    <input class="campoLargo" max-num-list=5 name="seleccionado" auto-complete [(ngModel)]="objetoSeleccionado"
    [source]="medicamentos" placeholder="Seleccione uno de los medicamentos" [list-formatter]="autocompleListFormatter" value-property-name="codigo"
    display-property-name="nombre" required/>

    <!--  
        <select name="seleccionado" [(ngModel)]="seleccionado" required>
          
    <option value="" selected >Seleccione un medicamento</option>
    <option value={{m.codigo}} *ngFor="let m of medicamentos | searchfilter: 'nombre' : txtFname.value : 3" >
      {{m.nombre}} -- {{m.presentacion}}
    </option>
        </select>
      -->

    <div class="form-group">
      <label>Ingrese una descripcion sobre el medicamento que consume</label>
      <br>
      <!-- <input name="descripcion" type="text" [(ngModel)]="descripcion" required> -->
      <textarea rows="5" cols="50" name="descripcion" [(ngModel)]="descripcion" required></textarea>

    </div>

    <button class="btn btn-primary" [disabled]="!FormMedicamento.form.valid" (click)="guardar()">Guardar</button>

    <button class="btn btn-danger" (click)="medicamentoModal.close()">Cerrar</button>


  </form>
</ngx-smart-modal>