#top {
    position: relative;
    float: left;
    width: 100%;
    background: #294563;
}

#tabs {
    clear: both;
    padding-left: 10px;
    margin: 0;
    list-style: none;
}

#tabs li {
    float: left;
    background-image: url(images/rc-t-r-5-1header-2tab-unselected-3tab-unselected.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #f4f4f4;
    margin: 0 3px 0 0;
    padding: 0;
}

#tabs li a {
    float: left;
    display: block;
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    background-image: url(images/rc-t-l-5-1header-2tab-unselected-3tab-unselected.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 5px 15px 4px;
    width: .1em;
}

#tabs li a:link {  color: #000066;  }
#tabs li a:visited { color: #000066; }
#tabs li a:hover { color: #000066; }


#tabs > li a { width: auto; }

#tabs a { float: none; }


#top .header .current {
    background-color: #4a6d8c;
    background-image: url(images/rc-t-r-5-1header-2tab-selected-3tab-selected.png);
    background-repeat: no-repeat;
    background-position: top right;
}

#top .header .current a {
    font-weight: bold;
    color: #f4f4f4;
    background-image: url(images/rc-t-l-5-1header-2tab-selected-3tab-selected.png);
    background-repeat: no-repeat;
    background-position: top left;
}
#top .header .current a:link {    color: white; }
#top .header .current a:visited { color: white; }
#top .header .current a:hover {   color: white; }