<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Antecedentes Familiares</h3>
  </div>
  <div class="panel-body">
    <div class="row" align="center">
      <form #f="ngForm" (ngSubmit)="guardar()">
        <div>
          <div *ngFor="let afeccion of todosTiposAfeccionesFamiliares">
            <div class="row text-left" style="padding-left: 20px">
              <div class="checkbox">
                <label>
            <input type="checkbox" name="activado" [(ngModel)]="afeccion.activado"> <!--value="{{afeccion.nombre}}" -->
            {{afeccion.descripcion}}
          </label>
              </div>
            </div>
          </div>
          <!--
          <div *ngFor="let afeccion of faltanTiposAfeccionesFamiliares">
            <div class="row text-left" style="padding-left: 20px">
              <div class="checkbox">
                <label>
            <input type="checkbox" name="activado1" [(ngModel)]="afeccion.activado">
            {{afeccion.descripcion}}
          </label>
              </div>
            </div>
          </div>
        -->
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid" id="botonGuardar">Modificar antecedentes familiares</button>
      </form>
    </div>
  </div>
</div>