<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Antecedentes Familiares</h3>
  </div>
  <div class="panel-body">
    <div class="row" align="center">
      <form>
        <div>
          <div *ngFor="let afeccion of poseeTiposAfeccionesFamiliares">
            <div class="row text-left" style="padding-left: 20px">
              <div class="checkbox">
                <label>
            <input type="checkbox" value="{{afeccion.nombre}}" checked>
            {{afeccion.descripcion}}
          </label>
              </div>
            </div>
          </div>
          <div *ngFor="let afeccion of faltanTiposAfeccionesFamiliares">
            <div class="row text-left" style="padding-left: 20px">
              <div class="checkbox">
                <label>
            <input type="checkbox" value="{{afeccion.nombre}}">
            {{afeccion.descripcion}}
          </label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Modificar antecedentes familiares</button>
      </form>
    </div>
  </div>
</div>