<div *ngIf="getCantidadAccidentes() == 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Registro de internaciones, accidentes y operaciones
      </h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-warning" align="center">
        <strong>No existen accidentes cargados!</strong> Ir a agregar accidentes
        <hr>
        <div class="row">
          <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('myModal').open()">Agregar</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div align="center" *ngIf="getCantidadAccidentes() > 0">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Registro de internaciones, accidentes y operaciones
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Motivo</th>
              <th>Observacio&oacute;n</th>
              <th> Tipo </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accidente of accidentes">
              <td>{{accidente.fecha}}</td>
              <td>{{accidente.motivo}}</td>
              <td>{{accidente.observacion}}</td>
              <td>{{accidente.nombreTipoSiniestro}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="row">
          <button class="btn btn-primary" (click)="ngxSmartModalService.getModal('myModal').open()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #myModal [identifier]="'myModal'" (onOpen)="log('Modal opened!')" (onClose)="log('Modal closed!')" (onDismiss)="log('Modal dismissed!')">

  <h5>Accidentes - Internaciones - Operaciones</h5>
  <form #Form="ngForm">
    <div class="form-group">

      <strong><label>Seleccione el tipo de siniestro:</label></strong>
      <!--
      <select name="tipoSiniestro" [(ngModel)]="codigoTipoSiniestroSeleccionado" required>
          <option value="" selected>Seleccione una opción</option>
          <option  *ngFor="let siniestro of todosLosSiniestros" value={{siniestro.codigo}}>{{siniestro.descripcion}}</option>
         </select>
        -->
      <input class="campoLargo" max-num-list=5 name="tipoSiniestro" auto-complete [(ngModel)]="codigoTipoSiniestroSeleccionado"
        [source]="fuente" placeholder="Seleccione uno de los siniestros" />
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <strong><label for="Fecha">Fecha:</label></strong>
        </div>
        <div class="col-md-10">
          <input class="campoMediano" name="hoy" type="date" [ngModel]="hoy | date:'y-MM-d'" (ngModelChange)="updatehoy($event)" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <strong><label>Motivo:</label></strong>
      <input class="campoLargo" type="text" name="motivo" [(ngModel)]="motivo" placeholder="Agregue una motivo de la internación, operación, o accidente"
        required>
    </div>


    <button [disabled]="!Form.form.valid" (click)="guardar()">Guardar</button>
    <button (click)="myModal.close()">Cerrar</button>

  </form>
</ngx-smart-modal>