<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title" align="center">
            Evoluci&oacute;n Ambulatoria
        </h2>
    </div>
    <div class="panel-body">
        <form #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <strong><label for="Nombre/s y Apellido/s:">Nombre/s y Apellido/s:</label></strong>
                    <span>{{persona?.nombre}}</span>
                </div>
                <div class="col-md-6" align="right">
                    <strong><label for="Fecha">Fecha:</label></strong>
                    <input class="campoMediano" name="hoy" type="date" [ngModel]="hoy | date:'y-MM-d'" (ngModelChange)="updatehoy($event)">
                </div>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed" id="tablaEvolucion">
                    <th colspan="2">Edad</th>
                    <th>Peso</th>
                    <th>Talla</th>
                    <th>PC</th>
                    <th>IMC</th>
                    <th colspan="4">Percentilos</th>
                    <th>Presi&oacute;n Arterial</th>
                    <th>Per&iacute;metro abdominal</th>
                    <th colspan="2">Vacunaci&oacute;n</th>
                    <tr>
                        <td>A&ntilde;os</td>
                        <td>Meses</td>
                        <td>Kg</td>
                        <td>Cm</td>
                        <td>Cm</td>
                        <td></td>
                        <td>PC/edad</td>
                        <td>Peso/edad</td>
                        <td>Talla/Edad</td>
                        <td>IMC/Edad</td>
                        <td>mm Hg</td>
                        <td>Cm</td>
                        <td>Completo</td>
                        <td>Incompleto</td>
                    </tr>

                    <tr>
                        <td><input type="number" min="0" name="edad" [(ngModel)]="evolucionAmbulatoria.edad"></td>
                        <td><input type="number" min="0" name="meses" [(ngModel)]="evolucionAmbulatoria.meses"> </td>
                        <td><input #peso type="number" min="0" name="peso" [(ngModel)]="evolucionAmbulatoria.peso" size="3">                            </td>
                        <td><input #talla type="number" min="0" name="talla" [(ngModel)]="evolucionAmbulatoria.talla" size="3"></td>
                        <td><input type="number" min="0" name="pc" [(ngModel)]="evolucionAmbulatoria.pc" size="3"></td>
                        <td> <button (click)="actualizarIMC(peso.value, talla.value)" type="button" class="btn btn-sm btn-primary">Calcular</button>
                            <span>{{evolucionAmbulatoria.imc | number:'2.1-2'}}</span></td>
                        <td><input type="number" min="0" name="percentilos_pc_edad" [(ngModel)]="evolucionAmbulatoria.percentilos_pc_edad"></td>
                        <td><input type="number" min="0" name="percentilos_peso_edad" [(ngModel)]="evolucionAmbulatoria.percentilos_peso_edad"></td>
                        <td><input type="number" min="0" name="percentilos_talla_edad" [(ngModel)]="evolucionAmbulatoria.percentilos_talla_edad"></td>
                        <td><input type="number" min="0" name="percentilos_imc_edad" [(ngModel)]="evolucionAmbulatoria.percentilos_imc_edad"></td>

                        <td><input #presion_arterial_num="ngModel" type="number" min="0" name="presion_arterial_num" [(ngModel)]="evolucionAmbulatoria.presion_arterial"
                                size="3" required> /
                            <input #presion_arterial_den="ngModel" type="number" min="0" name="presion_arterial_den" [(ngModel)]="evolucionAmbulatoria.presion_arterial_den"
                                size="3" required>
                            <div [hidden]="presion_arterial_num.valid || presion_arterial_num.pristine" class="alert alert-danger">
                                El numerador de la presion arterial es obligatoria
                            </div>
                            <div [hidden]="presion_arterial_den.valid || presion_arterial_den.pristine" class="alert alert-danger">
                                El denominador de la presion arterial es obligatoria
                            </div>
                        </td>
                        <td><input #perimetro_abdominal type="number" min="0" name="perimetro_abdominal" [(ngModel)]="evolucionAmbulatoria.perimetro_abdominal"
                                size="3"></td>
                        <td><input #vacunacion type="radio" name="vacunacion" value="true" [(ngModel)]="evolucionAmbulatoria.vacunacion"></td>
                        <td><input #vacunacion type="radio" name="vacunacion" value="falso" [(ngModel)]="evolucionAmbulatoria.vacunacion"></td>
                    </tr>


                </table>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong><label>ENFERMEDADES CRONICAS:</label></strong>
                </div>
                <div class="col-md-6">
                    <span>
                    <strong>  HTA  <input name="HTA" type="checkbox" [(ngModel)]="evolucionAmbulatoria.hipertension"></strong>
                    <strong>  DB  <input name="DB" type="checkbox" [(ngModel)]="evolucionAmbulatoria.diabetes"></strong>
                    <strong>  Otras:  <input name="Otras" type="checkbox" [(ngModel)]="evolucionAmbulatoria.otras"></strong>
                    <div *ngIf="mostrar()">
                        <br>
                        <hr>
                        <label> Ingrese otro antecedente no listado: </label>
                        <strong><input class="campoLargo" name ="campoOtras" type="text"></strong>
                    </div>
                </span>
                </div>
                <div class="col-md-3">
                    <strong>  Primera vez  <input type="radio" name="primeraVez" ></strong>
                    <strong>  Ulterior  <input type="radio" name="primeraVez" ></strong>
                </div>
            </div>
            <div class="row">
                <hr>
                <strong><label>*Motivo de la consulta:</label></strong>
                <input class="campoLargo" type="text" name="motivoConsulta" [(ngModel)]="evolucionAmbulatoria.motivo_de_consulta" required
                    #motivo_de_consulta="ngModel">
                <div [hidden]="motivo_de_consulta.valid || motivo_de_consulta.pristine" class="alert alert-danger">
                    El motivo debe ser suministrado
                </div>
            </div>
            <div class="row">
                <hr>
                <strong><label> Enfermedad Actual:</label></strong>
                <input class="campoLargo" type="text" name="enfermedadActual" [(ngModel)]="evolucionAmbulatoria.enfermedad_actual">
            </div>

            <div class="row">
                <hr>
                <strong><label> Examen f&iacute;sico:</label></strong>
                <input class="campoLargo" type="text" name="examenFisico" [(ngModel)]="evolucionAmbulatoria.examen_fisico">
            </div>

            <div class="row">
                <label>*Busque el diagnostico:</label>
                <input class="campoLargo" max-num-list=5 name="diagn_problema_salud" auto-complete [(ngModel)]="evolucionAmbulatoria.diagn_problema_salud"
                    [source]="fuente" placeholder="Ingrese caracteres para iniciar la busqueda de diagnostico" required #diagn_problema_salud="ngModel">
                <div [hidden]="diagn_problema_salud.valid || diagn_problema_salud.pristine" class="alert alert-danger">
                    El diagnostico debe ser suministrado
                </div>
            </div>

            <div class="row">
                <hr>
                <div class="col-md-6">
                    <div class="row">
                        <strong><label> Plan de tratamiento:</label></strong>
                    </div>

                    <textarea rows="5" cols="50" name="plan_tratamiento" [(ngModel)]="evolucionAmbulatoria.plan_tratamiento"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <strong><label> Consejer&iacute;as:</label></strong>
                    </div>

                    <textarea rows="5" cols="50" name="consejerias" [(ngModel)]="evolucionAmbulatoria.consejerias"></textarea>
                </div>

            </div>

            <div class="row">
                <hr>
                <strong><label> Indicaci&oacute;n de Lab o Estudios complementarios:</label></strong>
                <input class="campoLargo" type="text" name="indicacionLab" [(ngModel)]="evolucionAmbulatoria.indicacion_lab">
            </div>
            <div class="row">
                <strong><label> Indicaci&oacute;n de medicaci&oacute;n</label></strong>
                <input class="campoLargo" type="text" name="indicacion_medicacion" [(ngModel)]="evolucionAmbulatoria.indicacion_medicacion">
            </div>
            <div class="row">
                <strong><label> Solicitud de derivaci&oacute;n</label></strong> Interconsulta
                <input type="checkbox" name="interconsulta" [(ngModel)]="evolucionAmbulatoria.interconsulta">Internaci&oacute;n
                <input type="checkbox" name="internacion" [(ngModel)]="evolucionAmbulatoria.internacion">
            </div>

            <div class="row" align="right">

                <img src='../../issys-media/issys/firma-ejemplo.jpg' class="img-responsive img-thumbnail" alt="Responsive image" height="100"
                    width="100">

                <input id="sello" type="text" name="prestador" value="Sello o Nombre del Prestador" height="200px" width="100px">

            </div>
            <div class="row" align="right">
                <strong><label padding-right="100px">Firma:</label></strong>
                <strong><label>Sello / Aclaraci&oacute;n</label></strong>
            </div>
            <div class="row" align="center">
                <button type="button" class="btn btn-primary" id="botonGuardar" [disabled]="!f.form.valid" (click)="guardar(f)">Confirmar</button>
                <button type="button" class="btn btn-primary" routerLink="/buscar/{{dniPaciente}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cancelar</button>
            </div>
        </form>

    </div>
</div>
<hr>