table#tablaEvolucion {
    width: 100%; 
    border: 1 px;
    align-content: center;
    align-self: auto;
    text-align: center;
}
th {
    text-align: center;
}
td {
    border-block-end: 1 px;
}
input#sello {
    height: 100px;
    width: 200px;
}
.campoLargo {
    width: 95%;
    padding-left: 5%;
    padding-right: 5%;
    height: 30px;
    
}
.campoMediano {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    
}
textarea {
    resize: none;
} /*Para cumplir con el requerimiento de que no se deben expandir*/
label{
    padding-left: 1%;
    padding-right: 1%;
}
input {
    width: 50px;
}
.well{
    background-color: lightblue;
}
/*Compatibilidad para navegadores*/

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }
  
  :-ms-input-placeholder {  
    text-align: center; 
  }