<div class="header" style="background: #294563;">
  <table border="0" width="100%">
    <tbody>
      <tr>
        <td class="left" height="43" width="56" align="left">
        </td>
        <td class="center titulo" align="center">
          <p id="titulo-encabezado">{{titulo}}</p>
          <font color="#fb8a00">
            <p id="subtitulo-encabezado">{{subtitulo}}</p>
          </font>
        </td>
        <td class="right" width="27" align="left">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-tabs></app-tabs>
